body {
  background-color: #eeeeee;
  color: #000000;
}

#page {
  background-color: #eeeeee;
}

a, a:visited {
  color: #0071b3;
}

#top-menu {
  background-color: #111111;
}

#top-menu a {
  color: #9f9f9f;
}

#header {
  background-color: #292928;
}

#header-search-text {
  border-color: #cccccc;
}

#navigation {
  background-color: #292929;
}

#navigation a {
  color: #a0a0a0;
}

#main-menu > ul > li:hover {
  background-color: #404040;
}

#main-menu div.menu-content {
  background-color: #404040;
}

.node h2 a {
  color: black;
}

#site-name a {
  color: #ffffff;
}

#site-slogan {
  color: #ffffff;
}

#user-zone ul li ul {
  background-color: #292928;
  color: #ffffff;
}

.sidebar .block-menu {
  border-color: #292928;
}

.sidebar .block-menu h2 {
  color: #ffffff;
  background-color: #292928;
}

#footer, #page-wrapper {
  background-color: #888888;
}

#footer a {
  color: #f0f0f0;
}
