.views-exposed-form label {
  display: inline;
}

.views-exposed-form div.views-widget {
  display: inline;
}

.views-exposed-form div.views-widget > div.form-item {
  display: inline;
}

.views-exposed-form div.views-exposed-widget {
  float: none;
}

.views-exposed-form div.views-submit-button,
.views-exposed-form div.views-reset-button {
  float: left;
}
