html, body, #page-wrapper {
  height: 100%;
}

body {
  font:0.85em/1.5em helvetica,arial,clean,sans-serif;
  margin: 0px;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#top-menu {
  padding: 1px;
}

#top-menu li {
  display: inline-block;
  float: right;
}

#header:after, #main:after, #footer:after {
  clear: both;
}

#header:before, #header:after, #main:before, #main:after, #footer:before, #footer:after {
  content: "";
  display: table;
}

#header {
  padding-top: 25px;
}

.region-header {
  float: right;
}

.section {
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
}

#navigation {
  overflow: hidden;
  width: 100%;
}

#main-menu {
  display: inline-block;
}

#main-menu ul {
  list-style-type: none;
}

#main-menu > ul,
#main-menu div.menu-content > ul {
  padding: 0;
  margin: 0;
}

#main-menu > ul > li {
  display: inline-block;
  padding: 0 .5ex;
}

#main-menu div.menu-content {
  z-index: 10;
  position: absolute;
  padding: 1ex 0;
}

#main-menu div.menu-content > ul > li {
  display: inline-block;
  vertical-align: top;
  padding: 0 1ex;
}

#main-menu div.menu-content > ul ul {
  padding-left: 1ex;
}

.breadcrumb {
  padding: 0 15px;
}

.node h2 a {
  text-transform: uppercase;
  text-shadow: 2px 2px 1px #888888;
}

.node h2 a:hover {
  text-decoration: none;
}

/* Sidebars and content */
.column {
  display: inline;
  float: left;
  position: relative;
}

/* Content width is variable depending on how many sidebars are present. */
#main.no-sidebar > #content {
  width: 100%;
}

#main.one-sidebar > #content {
  width: 80%;
}

#main.two-sidebars > #content {
  width: 60%;
}

#content {
  padding: 0 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.sidebar {
  width: 20%;
  overflow-x: hidden;
}

#logo {
  float: left;
}

#name-and-slogan {
  margin-bottom: 10px;
  float: left;
}

#site-name a {
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
}

#site-name {
  margin-right: 20px;
}

#site-slogan {
  font-style: italic;
}

#user-zone {
  float: right;
}

#user-zone ul {
  margin: 0;
  list-style:none;
}

#user-zone ul li ul {
  position: absolute;
  width: 15%;
  display: none;
  margin-top: 19px;
  padding: 5px 5px;
  z-index: 10;
}

.sidebar .block {
  margin-bottom: 2ex;
}

.sidebar .block-menu {
  border: 1px solid;
  border-radius: 16px;
}

.sidebar .block-menu h2 {
  border-radius: 15px 15px 0 0;
  padding: .5ex 0 .25ex 15px;
  margin: 0;
}

.link-wrapper {
  text-align: right;
}

#footer {
  margin-top: 10ex;
  width: 100%;
}

.region-footer {
  text-align: center;
  padding: 3ex 0;
}

.region-footer > div {
  vertical-align: top;
  display: inline-block;
  padding: 0 4em;
}

.region-footer h2 {
  margin-top: 0;
}

.region-footer ul,
.region-footer li {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

.user-menu {
  display: inline-block;
  vertical-align: middle;
}

#secondary-menu-links li {
  display:block;
}

ul#custommenu {
  display: inline-block;
}

/* Field styling */

.field-items {
  max-width: 100%;
}

/* jQuery Menu */

/* Fix a glitch when a jQuery Menu is in a div with 'overflow-x: hidden' */
ul.jquerymenu li.parent span.closed:after,
ul.jquerymenu li.parent span.open:after {
  content: ".";
}

/* Items table */
.opac_items_information table {
  border-collapse:separate;
  border-spacing: 15px 1px;
}

/* checkouts table */
.opac_users_checkouts_holds_tables {
  border-collapse: separate;
  border-spacing: 15px 1px;
}

.opac_users_checkouts_holds_tables th a {
  text-decoration: none;
  color: #080707;
}

.opac_users_checkouts_holds_tables tr, td, td.active {
  background-color: transparent;
}
